html{
    padding: 5px;
    font-size:large;
    background-color: rgb(255, 255, 255);
}
#leftf
{
    float:left;
    display:inline;
    top:100px;
}
#rightf
{
    float:right;
    display:inline;
}
#three
{
    position: relative;
    top: 480px;
    left: 800px;
}
body { 
	max-width: 600px; 
	margin: 0 auto; 
	float: none;
    padding: 20px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    font-family: Georgia, 'Times New Roman', Georgia, Times, serif;
}
h3{
    font-family: 'Times New Roman', Georgia,  Arial
}
h1{
    font-family: 'Times New Roman', Georgia, Arial
}
