head{
    font-family: 'Times New Roman', Georgia, Arial;
}
body{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    bottom:30px;
    position:fixed;
    left:10px;
    display:flex;
    list-style-type: none;
}
a{
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 100px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
}
#barmy{
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 100px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
}
#slb{
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100px;
    top:10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    position:relative
}
.mySlides {
    /* display: none; */
}
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    margin:5px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}