/* #backgr{
    width:110%;
    height:110%;
    position:fixed;
    opacity:0.7;
    overflow: hidden;
    top:0;
    left:0;
} */
*{
}
head{
    font-family: 'Times New Roman', Georgia, Arial;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1vw;
    padding:15px;
    overflow: hidden;
}
#explorbar{
    font-size:1vw;
    position:fixed;
    display:flex;
    list-style-type: none;
    top: 10px;
    right:10px;
}
#uli{
    font-size:1vw;
    bottom:67px;
    position:fixed;
    left:10px;
    display:flex;
    list-style-type: none;
}
#rightt
{
    float:right; 
    display:inline;
    position:relative;
    top:15px;
    right:10px;
}
#leftt
{
    float:left; 
    display:inline;
    position:relative;
    bottom:15px;
    font-size: 20px;
}
a{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
}
.barmy{
    color: rgb(29, 29, 29);
    padding: 0.4vw;
    width: 100px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    font-size: medium;
    font-size:1vw;
}
#slb1{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    top:10px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    position:relative;
}#slb2{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    top:10px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    position:relative;
}
.mySlides {
    display: none;
}
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    margin:5px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
#vid{
    padding:0;
    margin:0;
    position:relative;
    bottom:50px;
}
#thi{
    display:flex;
}
#left{
    display:inline;
    float:left;
    position:relative;
    top:30px;
}
#right{
    display:inline;
    float:right;
    position:relative;
    left:60px;
}
.footer {
    background-color: black;
    position:absolute;
    justify-content: center;
    display: inline-flex;
    bottom: 1vh;
    padding-block: 0px 0px;
    margin:-15px;
    font-size:1vw;
    width:105%;
}
a.oglk:link, a.oglk:visited {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a.oglk:hover {
    text-decoration: underline white;
    cursor: pointer;
}