head{
    font-family: 'Times New Roman', Georgia, Arial;
}
/* #backgr{
    width:110%;
    height:110%;
    position:fixed;
    opacity:0.01;
    overflow: hidden;
    top:0;
    left:0;
} */
body{
    background-color: rgb(29, 29, 29);
    color: rgb(29, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
#header{
    display:inline;
}
#explorbar{
    position:fixed;
    display:flex;
    list-style-type: none;
    top: 7px;
    right:10px;
}
#uli{
    bottom:30px;
    position:fixed;
    left:10px;
    display:flex;
    list-style-type: none;
}
#barmy{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    font-size: medium;
    position:relative;
    top:3px;
}
#slb{
    color: rgb(29, 29, 29);
    padding: 5px;
    width: 100px;
    top:10px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    position:relative;
}
#right
{
    float:right; 
    display:inline;
    position:relative;
    top:10px;
    right:10px;
}
#left
{
    float:left; 
    display:inline;
}
/* #rightff
{
    float:right;
    display:absolute;
    margin:5px;
    position:relative;
    right: 600px;
    top:0px;
}
#rightft
{
    float:right;
    display:absolute;
    margin:5px;
    position:relative;
    right: 439px;
    top:180px;
}
#rightfh
{
    float:right;
    display:absolute;
    margin:5px;
    position:relative;
    right: 598px;
    top:180px;
} */
.mySlides {
    display: none;
}
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    margin:5px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
