head{
    font-family: 'Times New Roman', Georgia, Arial;
}
p{
    width: 600px;
    padding: 50px;
    border-radius: 50px;
    margin: 10px 0 30px;
	font-size: 25px;
    font-weight: 100;
	text-align: justify;
    /*max-width: 70%;*/
}
body{
    margin: 0;
}

h1 {
	font-size: 60px;
    font-weight: 300;
	text-align: center;
    padding: 2px;
    color: black;
}

h2 {
    font-size: 45px;
    text-align: left;
    margin-left: 50px;
    font-weight: 300;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    /*padding:15px;
    background-color: rgb(29, 29, 29);
    color: rgb(29, 29, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    overflow: hidden;*/

/*#explorbar{
    position:fixed;
    display:flex;
    list-style-type: none;
    top: 500px;
    right:900px;
}*/

#header{
    font-size: 60px;
    font-weight: 300;
	text-align: center;
    padding: 2px;
}

/*#right
{
    float:right; 
    display:inline;
    position:relative;
    top:10px;
    right:10px;
}
#left
{
    float:left; 
    display:inline;
    position:relative;
    top:7px;
}
/*#barmy{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
    font-size: medium;
    position:relative;
    top:3px;
}*/
#headermenu{
    position:relative;
    top:23px;
    right:20px;
}
#menubar{
    position:absolute;
    display:flex;
    list-style-type: none;
    top: 2px;
    right: 20px;
}
.butmenu {
    position: relative;
    width: 100px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 12px 25px;
    margin: 3px;
    font-size: 1.1rem;
    top:5px;
    right: 5px;
    align-items: center;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    transition-delay: 0.25s;
}

.footer {
    background-color: black;
    padding: 50px;
    text-align: center;
}

a.oglk:link, a.oglk:visited {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

a.oglk:hover {
    text-decoration: underline white;
    cursor: pointer;
}

.copy {
    pointer-events: none;
}
/*a{
    color: rgb(29, 29, 29);
    padding: 8px;
    width: 100px;
    border: 2px solid rgb(29, 29, 29);
    background-color: transparent;
    color: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease-out;
    text-decoration: none;
}*/